### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
player_count=pd.DataFrame({"Total Player Count":[purchase_data['SN'].nunique()]})
player_count

   Total Player Count
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Calculating number of unique items
nmb_unique_items=purchase_data['Item Name'].nunique()
# nmb_unique_items

In [51]:
# Pull out Average price from .describe() output
avg_price=round(purchase_data.describe()['Price'][1],2)
#  or run .mean() f-n
avg_price=round(purchase_data['Price'].mean(),2)
avg_price
# avg_price.astype('float').map("$:.2f".format)

3.05

In [47]:
total_nmb_purchases=purchase_data.shape[0]
#  or
total_nmb_purchases=purchase_data.count()[0]
total_nmb_purchases

780

In [52]:
total_revenue=round(purchase_data['Price'].sum(),2)
total_revenue

2379.77

In [56]:
# # Create header for the summary data frame
# purch_smry_cols=['Number of Unique Items', 'Average Purchase Price', 'Total Number of Purchases', 'Total Revenue']
# #  Create a two-dimensional list containing the summary data
# purch_smry_data=[[nmb_unique_items, avg_price, total_nmb_purchases, total_revenue]]
# #  Pass headers and summary data to a pandas dataframe function, assigning single row name to "All data" 
# #  by altering default Indexing
# purch_smry_df = pd.DataFrame(purch_smry_data, index=[f"All data"], columns=purch_smry_cols)

# or alternatively use Dictionary of Lists
purch_smry_dic={
            'Number of Unique Items':[nmb_unique_items], 
            'Average Purchase Price':[avg_price], 
            'Total Number of Purchases':[total_nmb_purchases], 
            'Total Revenue':[total_revenue]}
purch_smry_df=pd.DataFrame(purch_smry_dic)
purch_smry_df["Average Purchase Price","Total Revenue"]=purch_smry_df["Average Purchase Price"].map("${:.2f}".format)
purch_smry_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [119]:
# Request summary output (count & percentage) of the Gender column
print(purchase_data['Gender'].value_counts())

# Calculate male count
male_count=purchase_data['Gender'].value_counts().loc['Male']
# Alternatively 
male_count=purchase_data.groupby(['Gender']).describe().loc['Male'][0].astype(int)
# Calculate percentage
male_pct=male_count*100/total_nmb_purchases

# Calculate female count
female_count=purchase_data['Gender'].value_counts().loc['Female']
# Alternatively 
female_count=purchase_data.groupby(['Gender']).describe().loc['Female'][0].astype(int)
# Calculate percentage
female_pct=female_count*100/total_nmb_purchases

# Calculate other non-disclosed gender
other_count=purchase_data['Gender'].value_counts().loc['Other / Non-Disclosed']
# Alternatively 
other_count=purchase_data.groupby(['Gender']).describe().loc['Other / Non-Disclosed'][0].astype(int)
# Calculate percentage
other_pct=other_count*100/total_nmb_purchases

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [120]:
# Create header for the summary data frame
gender_smry_cols_v1=['Total Count', 'Percentage of Players']
#  Create a two-dimensional list containing the summary data
gender_smry_data_v1=[[male_count, f"{male_pct.round(2)}%"],[female_count, f"{female_pct.round(2)}%"],[other_count, f"{other_pct.round(2)}%"]]
#  Pass headers and summary data to a pandas dataframe function, by altering default Indexing
gender_smry_df_v1 = pd.DataFrame(gender_smry_data_v1, index=['Male','Female','Other / Non-Disclosed'],columns=gender_smry_cols_v1)
gender_smry_df_v1

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
# Alternative way of calculating purchase count per gender via .groupby function
male_count=purchase_data.groupby(['Gender']).count().loc['Male'][0]
female_count=purchase_data.groupby(['Gender']).count().loc['Female'][0]
other_count=purchase_data.groupby(['Gender']).count().loc['Other / Non-Disclosed'][0]

# Calculating average purchase price
male_avg_purch_price=purchase_data.groupby(['Gender']).mean().loc['Male'][0].round(2)
female_avg_purch_price=purchase_data.groupby(['Gender']).mean().loc['Female'][0].round(2)
other_avg_purch_price=purchase_data.groupby(['Gender']).mean().loc['Other / Non-Disclosed'][3].round(2)

# Calculating total purchase price
purchase_data.groupby(['Gender']).sum().loc['Male'][0].round(2)
purchase_data.groupby(['Gender']).sum().loc['Female'][0].round(2)
purchase_data.groupby(['Gender']).sum().loc['Other / Non-Disclosed'][3].round(2)

50.19

In [184]:
# Calcumating avg. purchase total per person etc. by gender
avg_purch_price=pd.DataFrame(purchase_data.groupby(['Gender']).mean())
avg_purch_total_per_person=pd.DataFrame(purchase_data.groupby(['Gender','SN']).sum().groupby(['Gender']).mean().loc[:,'Price'])
purch_count=pd.DataFrame(purchase_data.groupby(['Gender']).count().loc[:,'Purchase ID'])

smry=pd.concat([purch_count,avg_purch_total_per_person,avg_purch_price],axis=1)
smry

,Purchase ID,Price,Purchase ID,Age,Item ID,Price
Gender,,,,,,
Female,113,4.468395,379.380531,21.345133,85.477876,3.203009
Male,652,4.065372,392.516871,22.917178,93.095092,3.017853
Other / Non-Disclosed,15,4.562727,334.600000,24.200000,80.800000,3.346000

In [ ]:
# Create header for the summary data frame
gender_smry_cols_v2=['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
#  Create a two-dimensional list containing the summary data
gender_smry_data_v2=[[female_count, f"{female_pct.round(2)}%"],[male_count, f"{male_pct.round(2)}%"],[other_count, f"{other_pct.round(2)}%"]]
#  Pass headers and summary data to a pandas dataframe function, by altering default Indexing
gender_smry_df_v2 = pd.DataFrame(gender_smry_data_v2, index=['Male','Female','Other / Non-Disclosed'],columns=gender_smry_cols_v2)
gender_smry_df_v1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80